---
layout: default
permalink: /tags/infographics.html
---
{% for article in site.posts limit:5 %}
  <section>
    {% if article.tag == "infographic" %}
    <article class="media">
      <span></span>

      <div class="details">
        <div class="lengh">{{ article.article-lengh }}</div>
        <a class="article tag" href="#">{{ article.tag }}</a>
      </div>

      <a class="source" href="{{ article.article-link }}">
        <div class="title">
          {{ article.article-title }}
        </div>
        <div class="author">
          {{ article.article-author }}
        </div>
      </a>
    </article>
    {% endif %}
  </section>
{% endfor %}
