---
layout: default
permalink: /tags/videos.html
---
{% for article in site.posts limit:1 %}
  {% if article.tag == "video" %}
    <section>
      <article class="media">
        <span></span>

        <div class="details">
          <div class="lengh">{{ article.article-lengh }}</div>

          {% if article.tag == "article" %}
            <a class="article tag" href="/tags/articles.html">{{ article.tag }}</a>
            {% elsif article.tag == "podcast" %}
              <a class="podcast tag" href="/tags/podcasts.html">{{ article.tag }}</a>
            {% elsif article.tag == "infographic" %}
              <a class="infographic tag" href="/tags/infographics.html">{{ article.tag }}</a>
            {% elsif article.tag == "report" %}
              <a class="report tag" href="/tags/reports.html">{{ article.tag }}</a>
            {% elsif article.tag == "video" %}
              <a class="video tag" href="/tags/videos.html">{{ article.tag }}</a>
          {% endif %}
        </div>

        <a class="source" href="{{ article.article-link }}">
          <div class="title">
            {{ article.article-title }}
          </div>
          <div class="author">
            {{ article.article-author }}
          </div>
        </a>
      </article>
    </section>
  {% endif %}
{% endfor %}

{% for article in site.posts offset:1 limit:1 %}
  {% if article.tag == "video" %}
    <section>
      <article class="media">
        <span></span>
        <span></span>

        <div class="details">
          <div class="lengh">{{ article.article-lengh }}</div>

          {% if article.tag == "article" %}
            <a class="article tag" href="/tags/articles.html">{{ article.tag }}</a>
            {% elsif article.tag == "podcast" %}
              <a class="podcast tag" href="/tags/podcasts.html">{{ article.tag }}</a>
            {% elsif article.tag == "infographic" %}
              <a class="infographic tag" href="/tags/infographics.html">{{ article.tag }}</a>
            {% elsif article.tag == "report" %}
              <a class="report tag" href="/tags/reports.html">{{ article.tag }}</a>
            {% elsif article.tag == "video" %}
              <a class="video tag" href="/tags/videos.html">{{ article.tag }}</a>
          {% endif %}
        </div>

        <a class="source" href="{{ article.article-link }}">
          <div class="title">
            {{ article.article-title }}
          </div>
          <div class="author">
            {{ article.article-author }}
          </div>
        </a>
      </article>
    </section>
  {% endif %}
{% endfor %}

{% for article in site.posts offset:2 limit:1 %}
  {% if article.tag == "video" %}
    <section>
      <article class="media">
        <span></span>
        <span></span>
        <span></span>

        <div class="details">
          <div class="lengh">{{ article.article-lengh }}</div>

          {% if article.tag == "article" %}
            <a class="article tag" href="/tags/articles.html">{{ article.tag }}</a>
            {% elsif article.tag == "podcast" %}
              <a class="podcast tag" href="/tags/podcasts.html">{{ article.tag }}</a>
            {% elsif article.tag == "infographic" %}
              <a class="infographic tag" href="/tags/infographics.html">{{ article.tag }}</a>
            {% elsif article.tag == "report" %}
              <a class="report tag" href="/tags/reports.html">{{ article.tag }}</a>
            {% elsif article.tag == "video" %}
              <a class="video tag" href="/tags/videos.html">{{ article.tag }}</a>
          {% endif %}
        </div>

        <a class="source" href="{{ article.article-link }}">
          <div class="title">
            {{ article.article-title }}
          </div>
          <div class="author">
            {{ article.article-author }}
          </div>
        </a>
      </article>
    </section>
  {% endif %}
{% endfor %}

{% for article in site.posts offset:3 limit:1 %}
  {% if article.tag == "video" %}
    <section>
      <article class="media">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="details">
          <div class="lengh">{{ article.article-lengh }}</div>

          {% if article.tag == "article" %}
            <a class="article tag" href="/tags/articles.html">{{ article.tag }}</a>
            {% elsif article.tag == "podcast" %}
              <a class="podcast tag" href="/tags/podcasts.html">{{ article.tag }}</a>
            {% elsif article.tag == "infographic" %}
              <a class="infographic tag" href="/tags/infographics.html">{{ article.tag }}</a>
            {% elsif article.tag == "report" %}
              <a class="report tag" href="/tags/reports.html">{{ article.tag }}</a>
            {% elsif article.tag == "video" %}
              <a class="video tag" href="/tags/videos.html">{{ article.tag }}</a>
          {% endif %}
        </div>

        <a class="source" href="{{ article.article-link }}">
          <div class="title">
            {{ article.article-title }}
          </div>
          <div class="author">
            {{ article.article-author }}
          </div>
        </a>
      </article>
    </section>
  {% endif %}
{% endfor %}

{% for article in site.posts offset:4 limit:1 %}
  {% if article.tag == "video" %}
    <section>
      <article class="media">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="details">
          <div class="lengh">{{ article.article-lengh }}</div>

          {% if article.tag == "article" %}
            <a class="article tag" href="/tags/articles.html">{{ article.tag }}</a>
            {% elsif article.tag == "podcast" %}
              <a class="podcast tag" href="/tags/podcasts.html">{{ article.tag }}</a>
            {% elsif article.tag == "infographic" %}
              <a class="infographic tag" href="/tags/infographics.html">{{ article.tag }}</a>
            {% elsif article.tag == "report" %}
              <a class="report tag" href="/tags/reports.html">{{ article.tag }}</a>
            {% elsif article.tag == "video" %}
              <a class="video tag" href="/tags/videos.html">{{ article.tag }}</a>
          {% endif %}
        </div>

        <a class="source" href="{{ article.article-link }}">
          <div class="title">
            {{ article.article-title }}
          </div>
          <div class="author">
            {{ article.article-author }}
          </div>
        </a>
      </article>
    </section>
  {% endif %}
{% endfor %}
