// Footer
footer
  text-align: right
  margin-top: 15px

  a
    text-decoration: none

  img
    +size(20px)
    margin-left: 1%

// Footer Media Queries
@media screen and (max-width: 800px)
  footer
    text-align: center

    img
      margin-left: 7%
