// Site Header
header
  position: fixed
  bottom: 0
  left: 0
  z-index: 1
  width: 100%
  padding-bottom: 20px
  height: 40px
  background-color: grey
  -webkit-transform: translate3d(0, 0, 0)

header:after
  content: ""
  display: table
  clear: both

.header-container
  margin-top: 10px

h1
  float: left
  width: 33.333%
  display: inline-block
  text-align: left

.search
  float: left
  width: 33.333%
  display: inline-block
  text-align: center

.details
  text-align: right

.dropdown
  position: relative
  display: inline-block
  text-align: left
  width: 100px
  bottom: 20px

.dropdown-text
  cursor: pointer
  position: absolute
  text-indent: 10px
  line-height: 32px
  background-color: lightgrey
  border-bottom: 1.3px dashed black
  box-shadow: 0 1px 0 rgba(194, 180, 234, 0.9) inset, 0 1px 3px rgba(106, 168, 82, 0.1)
  width: 100%
  color: black
  &:after
    position: absolute
    right: 6px
    top: 15px
    bottom: 100%
    content: ""
    width: 0px
    height: 0px
    border-style: solid
    border-width: 5px 4px 0 4px
    border-color: black transparent transparent transparent

.dropdown-content a
  color: black

.dropdown-toggle
  font-size: 0
  z-index: 1
  cursor: pointer
  position: absolute
  top: 0
  border: none
  padding: 0
  margin: 0 0 0 1px
  background: transparent
  text-indent: -10px
  height: 34px
  width: 100%
  &:focus
    outline: 0

.dropdown-content
  -webkit-transition: all 0.25s ease
  -moz-transition: all 0.25s ease
  -ms-transition: all 0.25s ease
  -o-transition: all 0.25s ease
  transition: all 0.25s ease
  list-style-type: none
  position: absolute
  bottom: 100%
  padding: 0
  margin: 0
  opacity: 0
  visibility: hidden
  border-radius: 3px
  line-height: 32px
  background-color: purple
  border: 1px solid indigo
  color: red
  a
    display: block
    padding: 25px
    &:hover
      background: pink

.dropdown-toggle:focus ~ .dropdown-text
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.8)
  z-index: 2
  &:after
    border-width: 0 4px 5px 4px
    border-color: transparent transparent #555 transparent

.dropdown-content:hover, .dropdown-toggle:focus ~ .dropdown-content
  opacity: 1
  visibility: visible
  bottom: 100%

.dropdown-content
  white-space: nowrap
  left: 50%
  transform: translateX(-50%)
  li
    display: inline-block
    margin: 0px auto 0px auto

.details img
  height: 10px
  width: 10px
