// Site Header

header
  position: fixed
  bottom: 0
  left: 0
  z-index: 1
  width: 100%
  background-color: lightgrey
  height: 60px
  -webkit-transform: translate3d(0, 0, 0)

header:after
  content: ""
  display: table
  clear: both

.header-container
  width: 100%

h1
  float: left
  width: 33.333%

nav
  float: left
  width: 33.333%
  text-align: center

header .header-container div
  float: left
  width: 33.333%

header .header-container img
  height: 10px
  width: 10px

.header-container > div
  text-align: right

.content-one
  display: none

.dropdown
  position: relative
  display: inline-block
  text-align: left
  width: 33.333%

.dropdown-text
  cursor: pointer
  position: absolute
  text-indent: 10px
  line-height: 32px
  background-color: lightblue
  border: 1px solid red
  border-radius: 3px
  box-shadow: 0 1px 0 rgba(194, 180, 234, 0.9) inset, 0 1px 3px rgba(106, 168, 82, 0.1)
  width: 100%
  &:after
    position: absolute
    right: 6px
    top: 15px
    bottom: 100%
    content: ''
    width: 0px
    height: 0px
    border-style: solid
    border-width: 5px 4px 0 4px
    border-color: lightgreen transparent transparent transparent
  color: #333
  /*text-shadow: 0 1px black;

.dropdown-content a
  color: #333
  /*text-shadow: 0 1px black;

.dropdown-toggle
  font-size: 0
  z-index: 1
  cursor: pointer
  position: absolute
  top: 0
  border: none
  padding: 0
  margin: 0 0 0 1px
  background: transparent
  text-indent: -10px
  height: 34px
  width: 100%
  &:focus
    outline: 0

.dropdown-content
  -webkit-transition: all .25s ease
  -moz-transition: all .25s ease
  -ms-transition: all .25s ease
  -o-transition: all .25s ease
  transition: all .25s ease
  list-style-type: none
  position: absolute
  /*top: 32px;
  bottom: 100%
  padding: 0
  margin: 0
  opacity: 0
  visibility: hidden
  border-radius: 3px
  /*text-indent: 10px;
  line-height: 32px
  background-color: purple
  border: 1px solid indigo
  color: red
  a
    display: block
    padding: 50px
    &:hover
      background: pink

.dropdown-toggle:focus ~ .dropdown-text
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.8)
  z-index: 2
  &:after
    border-width: 0 4px 5px 4px
    border-color: transparent transparent #555 transparent

.dropdown-content:hover, .dropdown-toggle:focus ~ .dropdown-content
  opacity: 1
  visibility: visible
  /*top: 42px;
  bottom: 100%

.dropdown-content
  li
    display: inline-block
    margin: 0px auto 0px auto
  white-space: nowrap
  left: 50%
  transform: translateX(-50%)
