<!-- Our main articles -->
<section>
  <article class="media">
    <span></span>

    <div class="details">
      <div class="lengh">01m.</div>
      <a class="tag" href="#">article</a>
    </div>

    <a class="source" href="#">
      <div class="title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="author">
        Anuraag Mayank Tripathi
      </div>
    </a>
  </article>

  <article class="media">
    <span></span>
    <span></span>

    <div class="details">
      <div class="lengh">2M</div>
      <a class="tag" href="#">podcast</a>
    </div>

    <a class="source" href="#">
      <div class="title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <div class="author">
        Min Yang
      </div>
    </a>
  </article>

  <article class="media">
    <span></span>
    <span></span>
    <span></span>

    <div class="details">
      <div class="lengh">03m</div>
      <a class="tag" href="#">video</a>
    </div>

    <a class="source" href="#">
      <div class="title">
        The future of Banks: Bitcoin and Blockchain are ruling everything
      </div>
      <div class="author">
        Brett King
      </div>
    </a>
  </article>

  <article class="media">
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <div class="details">
      <div class="lengh">04M.</div>
      <a class="tag" href="#">infograph</a>
    </div>

    <a class="source" href="#">
      <div class="title">
        A vizualization of the London fintech scene.
      </div>
      <div class="author">
        Kyle Kelley
      </div>
    </a>
  </article>

  <article class="media">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <div class="details">
      <div class="lengh">5m</div>
      <a class="tag" href="#">report</a>
    </div>

    <a class="source" href="#">
      <div class="title">
        JP Morgan Chase just realised a 10 page report on the how they are servicing the most underprivileged in Chicago by sending them Visa gift cards. Check out the result of their 10 year study.
      </div>
      <div class="author">
        JPM Chase
      </div>
    </a>
  </article>
</section>
