<!-- Footer -->
<footer>
  <h2>Created by <a href="www.vesthq.com">
    <span>Vest</span><span>HQ</span>
  </a></h2>

  <a href="http://www.twitter.com" target="_blank">
    <img src="/assets/img/twitter-with-circle.svg" alt="twitter share" />
  </a>

  <a href="http://www.facebook.com" target="_blank">
    <img src="/assets/img/facebook-with-circle.svg" alt="facebook share" />
  </a>

  <a href="http://www.linkedin.com" target="_blank">
    <img src="/assets/img/linkedin-with-circle.svg" alt="linkedin share" />
  </a>

  <a href="http://google.com" target="_blank">
    <img src="/assets/img/rss.svg" alt="rss feed" />
  </a>

  <!-- <link rel="alternate" type="application/rss+xml" title="FintechToGo RSS Feed" href="http://www.fintechtogo.com/feed" /> -->
</footer>
