<!-- Footer -->
<footer>
  <div>
    <h3><a id="vest-site" href="http://www.vesthq.com" target="_blank">Curated by <span>Vest</span><span>HQ</span></a>
    </h3>

    <div>
      <a href="https://twitter.com/thisisvest" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @thisisvest</a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=fintechtogo.com" target="_blank">
        <img src="/assets/img/facebook-with-circle.svg" alt="facebook share" />
      </a>

      <a href="http://www.linkedin.com" target="_blank">
        <img src="/assets/img/linkedin-with-circle.svg" alt="linkedin share" />
      </a>
      <a href="/feed.xml" target="_blank">
        <img src="/assets/img/rss.svg" alt="rss feed" />
      </a>
    </div>
  </div>

  <h2>
    The best way to keep up with the <a href="#">#fintechboom</a>
    <br>
    7 posts every 7 days.
  </h2>

  <!-- <link rel="alternate" type="application/rss+xml" title="FintechToGo RSS Feed" href="http://www.fintechtogo.com/feed" /> -->
</footer>
