<!-- Header -->
<header>
  <div class="header-container">

    <h1>
      <a href="/">
        Weekly FinTech
      </a>
      by
      <a href="http://www.vesthq.com">
        <span>Vest</span><span>HQ</span>
      </a>
    </h1>

    <nav>
      <p>
        Top 5 <u>fintech media</u>
        <!-- <ul>
          <li><a href="#">fintech media</a></li>
          <li><a href="#"></a></li>
          <li><a href="#">articles</a></li>
          <li><a href="#">podcasts</a></li>
          <li><a href="#">videos</a></li>
          <li><a href="#">infographs</a></li>
          <li><a href="#">reports</a></li>
          <li><a href="#">decks</a></li>
        </ul> -->
        . <i class="fa fa-sort-desc"></i>
      </p>
    </nav>

    <div>
      <span>Details</span>
      <img src="#" alt="i" />
    </div>

  </div>
</header>
