<!-- Header -->
<header>
  <div class="header-container">

    <h1>
      <a href="/">
        Weekly FinTech
      </a>
      by
      <a href="http://www.vesthq.com">
        <span>Vest</span><span>HQ</span>
      </a>
    </h1>

    <nav>
      <p class="expand-one">
  			<a href="#">Top 5 Fintech Posts</a>
  		</p>
      <p class="content-one">
  	    <a href="#">articles</a>
  		</p>
      <p class="content-one">
    	  <a href="#">podcasts</a>
  		</p>
      <p class="content-one">
    	  <a href="#">videos</a>
  		</p>
      <p class="content-one">
    	  <a href="#">reports</a>
  		</p>
      <p class="content-one">
  	    <a href="#">infographics</a>
  		</p>
      <p class="content-one">
    	  <a href="#">slide decks</a>
  		</p>
      <!-- get an upside down triangle here and work on the animation-->
    </nav>

    <div>
      <span>Easter Eggs</span>
      <img src="#" alt="i" />
    </div>

  </div>
</header>
