<!-- Header -->
<header>
  <h1>
    <a href="/">
      Weekly FinTech
    </a>
    by
    <a href="http://www.vesthq.com">
      <span>Vest</span><span>HQ</span>
    </a>
  </h1>

  <nav class="dropdown">
    <input class="dropdown-toggle" type="text">

    <div class="dropdown-text">Account</div>

    <ul class="dropdown-content">
      <li><a href="#">Articles</a></li>
      <li><a href="#">Podcasts</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Infographics</a></li>
      <li><a href="#">Reports</a></li>
    </ul>
  </nav>

  <div class="details">
    <span>Easter Eggs</span>
    <img src="#" alt="i" />
  </div>
</header>
