<!-- Meta -->
<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<!-- The sylsheet needs a conditional if statement -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" media="screen" title="CSS" charset="utf-8">

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-2.2.3.min.js" ></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/my-javascript.js"></script>
