<!-- Newsletter Signup-->
<section class="newsletter">
  <form action="http://vesthq.us13.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="34b740baee453160dd8a01170">
    <input type="hidden" name="id" value="1161009f36">
    <div class="row">
      <input type="text" name="fancy-text" id="fancy-text"/>
      <label for="fancy-text">Email</label>
    </div>
  </form>

  <p>
    Over 100,000 media sources. Top 5 posts. 1 email every week. 0 spam.
  </p>
</section>
